00_data_raw/*
!00_data_raw/README.md

01_data_processed/*
!01_data_processed/.gitkeep

02_output_model_experiments/*
!02_output_model_experiments/.gitkeep

03_output_analysis/*
!03_output_analysis/.gitkeep

.env